version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: truthly-mysql

    env_file:
      - .env
    
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}


    ports:
      - "${MYSQL_PORT}:3306"

    volumes:
      - mysql_data:/var/lib/mysql

    restart: always


  app:
    build: .
    image: truthly-go-app
    container_name: truthly-app

    ports:
      - "8181:8181"

    env_file:
      - .env

    volumes:
      - ./logs:/app/logs

    depends_on:
      - mysql

    restart: always


volumes:
  mysql_data:
